*,body{
padding: 0;
margin: 0;

}
.start-header{
    background-color: rgb(14, 12, 12);
    display: flex;
    position: sticky;
    z-index: 3;
    top: 0;
}
.amazon-img{
    width:  100px;
    padding: 15px 7px;
    margin: 10px;
     margin-right: 30px;
    border-radius: 5px ;
    cursor: pointer;
}
.amazon-img:hover{
    border:1px solid white;
    transition: border 0.09s;
}
   .parent-div{
    display: flex;
    margin-top: 15px;
    margin-right:30px;
   } 
   .search-bar{
    height: 50px;
    width: 900px;
 border-top-left-radius:  7px;
 border-bottom-left-radius: 7px;
 border: none;

   }
   .search-bar::placeholder{
    color: orange;
    font-size: 1.5rem;
   }
   .search-icon-div{
    background-color: orange;
    height:50px;
    width: 50px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    cursor: pointer;
   }
   .search-icon-div img{
    width: 35px;
    padding: 5px;
   }
   .return{
    padding:  5px 10px;
    color: white;
    font-family: arial;
    font-size: 1.1rem;
    cursor: pointer;
    height: 50px;
    margin-top: 15px;
    margin-right: 50px;
    margin-left: 100px;
   }
   .return span{
    font-weight: bolder;
   }
   .return:hover{
    border:1px solid white;
    border-radius: 7px;
   }
.cart-div{
    padding: 10px;
    height: 30px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    display: flex;
}
.cart-div:hover{
border: 2px solid white;
}
.cart-icon{
    width: 50px;
}
.cart-txt{
    color: white;
    font-family: arial;
    font-size: 1rem;
    margin-top: 9px;
}
.cart-quantity{
color: orange;
position: absolute;
top: 5px;
left: 35px;
font-size: 1.2rem;
}
/* end of header */
/* menu bar */

.menu-icon{
    width: 48px;
    height: 48px;
    cursor: pointer;
    margin-top: 15px;
    display: none;
}
.delete{
    width: 48px;
    height: 48px;
    cursor: pointer;
    margin-top: 15px;
    display: none;
}
.menu-div{
    background-color: gray;
    position: absolute;
    padding: 20px;
    right: 20px;
    top: 60px;
    display: none;

}                                                   
.section1{
display: flex;
}
.section1-parent{
line-height: 50px;
margin-left: 90px;

border-right: 1px solid grey;
border-bottom: 1px solid grey;
padding: 11.9px;
}
.object{
    width: 180px;
    height: 180px;
}
.object-name{
    font-family:calibri
    font-size 1.2rem;
    width: 180px;
    line-height: 20px;
}
.rating-div{
    display: flex;
}
.rating-img{
    width: 120px;
    height: 30px;
    margin-top: 5px;
}

.rating{
    color: blue;
    font-size: 1.5rem;
    font-family: arial;
    margin-top: 5px;
    margin-left: 5px;

}
.price{
    font-size: 1.5rem;
    margin: 0;
    font-family: arial;
    font-weight: bold;
}
.quantity{
    padding: 7px;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px grey;
}
.cart-btn{
cursor: pointer;
    background-color: orange;
    padding: 15px 20px;
    border-radius: 20px;
    border: none;
    width: 200px;
    font-size: medium;

}
.cart-btn:hover{
    background-color: goldenrod;
}
.cart-btn:active{
background-color: aqua;
}

/* responsivness */

@media(max-width: 768px) {
body{
    background-color: red;
}
.search-bar{
    width: 100px;
}
.search-bar::placeholder{
    font-size: 1rem;
}
.section1{
    width: 100px;
}
.section1-parent{
    width: 100px;
}
.object{
    width: 100px;
    height: 100px;
}
.object-name{
    font-size: 0.8rem;
    width: 70px;
}
.rating-img{
    width: 80px;
    height: 20px;
    padding-top: 20px;
}
.rating{
    font-size: 1rem;
    margin-top: 13px;
}
.cart-btn{
    width: 100%;
    font-size: 0.8rem;
    white-space: nowrap;
}
}


@media(max-width:425px){
    .return-cart-div{
        display: none;
    }
.cart-div{
    display: none;
}
.menu-icon{
    display: block;
}
}

